@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.chat-container {
	background: transparent;
	display: grid;
	/* margin: 30px auto; */
	grid-template-rows: 7% 86% 7%;
	flex-direction: column;
	overflow: auto;
	height: 98vh;
	border-radius: 1rem;
}

.chat-header {
	display: grid;
	align-items: center;
	justify-content: center;
	background-color: aquamarine;
}

h4 {
	font-size: 1rem;
	font-weight: 500;
	margin: 0%;
	justify-content: center;
	align-items: center;
}

.chat-messages {
	/* padding: 30px; */
	overflow-y: scroll;
	min-height: 81.5%;
	/* display: flex;
	flex-direction: column; */
}

.chat-messages .Message {
	padding: 0.2vh 1vh 1.3vh;
	margin-top: 2vh;
	margin-left: 0.8vw;
	margin-right: 0.8vw;
	margin-bottom: 0.8vw;
	border-radius: 1%;
}

.chat-messages .Message .meta {
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 2vh;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.chat-messages .Message .meta span {
	justify-content: space-between;
}

.chat-form-container {
	display: flex;
	height: 100%;
	flex-direction: column-reverse;
}

.chat-form {
	height: 100%;
}

.chat-form-container form {
	padding: 2%;
	display: flex;
	overflow: auto;
}

.chat-form-container input[type='text'] {
	padding: 1%;
	/* height: 50%; */
	flex: 1;
}

.chat-form-container .Send {
	cursor: pointer;
	padding: 0.1rem 2rem;
	background: lavender;
	border: 0;
	border-radius: 0.3rem;
}

.chat-form-container .Send:hover {
	background-color: rgb(80, 76, 76);
	
	box-shadow: 0 3rem 4rem 0 rgba(0,0,0,0.24), 0 4rem 5rem 0 rgba(0,0,0,0.19);

}