@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.chat-container {
	background: transparent;
	display: grid;
	/* margin: 30px auto; */
	grid-template-rows: 10% 80% 10%;
	flex-direction: column;
	overflow: auto;
	height: 98vh;
	border-radius: 1rem;
}

.chat-header {
	display: grid;
	align-items: center;
	justify-content: center;
	background-color: aquamarine;
}

.chat-messages {
	/* padding: 30px; */
	overflow-y: auto;
	min-height: 81.5%;
	display: flex;
	flex-direction: column;
}

.chat-messages .Message {
	padding: 2%;
	margin-top: 2%;
	margin-left: 0.8%;
	margin-right: 0.8%;
	/* margin-bottom: 2%; */
	border-radius: 1%;
}

.chat-messages .Message .meta {
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 2%;
	margin-top: 2%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.chat-messages .Message .meta span {
	justify-content: space-between;
}

.chat-form-container {
	display: flex;
	flex-direction: column-reverse;
	padding: 3% 3%;
}

.chat-form-container form {
	padding: 2%;
	display: flex;
	overflow: auto;
}

.chat-form-container input[type='text'] {
	padding: 1%;
	/* height: 50%; */
	flex: 1;
}

.Send {
	cursor: pointer;
	padding: 0.1rem 2rem;
	background: lavender;
	border: 0;
	border-radius: 0.3rem;
}

.Send:hover {
	background-color: rgb(80, 76, 76);
	
	box-shadow: 0 3rem 4rem 0 rgba(0,0,0,0.24), 0 4rem 5rem 0 rgba(0,0,0,0.19);

}