.light-theme .HomePageWrapper {
    color: #000000;
    background-color: rgb(126, 235, 226);
  }

  .light-theme .formWrapper {
    background: #f59a46;
  }

  .light-theme .inputBox {
    background-color: rgb(126, 235, 226);
  }

  .light-theme .ButtOn {
      color: #ffffff;
      background-color: rgb(27, 146, 136);
  }
  
  .light-theme .themeButton {
    border-color: #292323;
  }

  /* Editor Page Styling */

  .light-theme .mainWrap {
    background-color: rgb(126, 235, 226);
  }
  .light-theme .aside {
    color: rgb(73, 2, 64);
  }

  .light-theme .Themebtn {
    border-color: #d3c3c3;
  }
  .light-theme .Copybtn {
    border-color: #d3c3c3;
  }

  .light-theme .Leavebtn {
    border-color: #d3c3c3;
  }

  .light-theme .Themebtn:hover {
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.3), 0 0.5rem 0.5rem 0 rgba(0,0,0,0.3);
  }

  .light-theme .Copybtn:hover {
    background-color: rgb(180, 175, 175);
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.3), 0 0.5rem 0.5rem 0 rgba(0,0,0,0.3);
  }

  .light-theme .Leavebtn:hover {
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.3), 0 0.5rem 0.5rem 0 rgba(0,0,0,0.3);
  }

  .light-theme .chat-header {
    background-color: aquamarine;
  }

  .light-theme .chat-messages {
    background-color: aliceblue;
  }

  .light-theme .chat-messages .Message {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: antiquewhite;
  }

  .light-theme .chat-messages .Message .meta span{
    color: #777;
  }

  .light-theme .chat-form-container {
    background-color: aquamarine;
  }

  