@import "/src/components/Chatting/chat.css";
@import "/src/components/ThemeToggle/DarkTheme.css";
@import "/src/components/ThemeToggle/LightTheme.css";


/* HomePage Styling */

.HomePageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.imageWrapper {
  align-items: center;
}
.formImage {
  transform: scale(0.7);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  /* padding: 1%; */
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 1rem;
  max-width: 1000px;
  min-width: 300px;
}
.mainLabel {
  justify-content: center;
  /* margin-left: 40%; */
  display: flex;
  margin-top: 3%;
  align-items: center;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  /* margin: 2%; */
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}
.inputBox {
  margin-bottom: 1%;
  height: 3vh;
  min-height: 30px;
  border-radius: 0.5rem;
}
.ButtOn {
  height: 3vh;
  min-height: 30px;
}

.themeWrapper {
  padding: 1%;
  justify-content: center;
  align-items: center;
}

footer{
  height: 1vh;
  /* position:fixed; */
  display: none;
}

/* Editor Page Styling */

.mainWrap{
  display: grid;
  flex-wrap: column;
  grid-template-columns: 18% 52% 30%;
  /* grid-template-columns: 230px 1fr; */
}

.aside{
  padding: 4%;
  display: grid;
  display: flex;
  grid-template-rows: 5fr 1fr;
  flex-direction: column;
  height: auto;
  overflow: auto;
  overflow-x: scroll;
  max-height: 100vh;
}

.asideInner{
  flex: 1;
}

.connect {
  display: grid;
  justify-content: center;
  align-items: center;
}

.clientsList {
  display: flex;
  align-items:  center;
  flex-wrap: wrap;
  gap: 8%;
}

.client {
  display: flex;
  align-items:  center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-bottom: 1rem;
}

.logo {
  border-bottom: 1px solid #880505;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logoImage {
  /* position: fixed; */
  top: 0;
  left: 0;
  /* transform: scale(0.2); */
}

.Themebtn {
  cursor: pointer;
  width: 98%;
  padding: 2%;
  margin: 1%;
  font-size: 0.8rem;
}

.Copybtn {
  cursor: pointer;
  width: 98%;
  padding: 2%;
  margin: 1.5%;
  font-size: 0.8rem;
}

.Leavebtn {
  cursor: pointer;
  width: 98%;
  padding: 2%;
  margin: 1%;
  font-size: 0.8rem;
  background-color: rgb(38, 187, 33);
  
}

.Leavebtn:hover {
  background-color: rgb(196, 24, 24);
  
}


.CodeMirror {
  font-size: 1rem;
  line-height: 1.4;
  width: 100%;
  height: auto;
  min-height: 98vh;
  max-width: 100%;
  border-radius: 3mm;
}

.editorWrap {
  /* margin-right: 10vh; */
  display: flex;
  padding: 0.5rem;
}

.chatWrap {
  margin: 0.5vh;
  border-radius: 1rem;
  font-size: 0.85rem;
  background: transparent;
  overflow: auto;
}

@media screen and (max-width : 1010px) {
  .formWrapper {
    width: 60vw;
  }

  .chatWrap {
    font-size: 0.8rem;
  }
}

@media screen and (max-width : 600px) {
  .formWrapper {
    width: 80vw;
  }

  .aside {
    font-size: 0.7rem;
  }
  .mainWrap {
    grid-template-columns: 20% 50% 30%;
  }
}

@media screen and (max-height: 500px){
  .imageWrapper{
    margin-top: 10px;
  }
}

